body {
  background-color: black;
  color: white;
  font-family: Arial;
}
.rockPaperScissors{
  font-size: 30px;
  font-weight: bold;
}
.move-button{
  background-color: transparent;
  border: 3px solid;
  border-color: white;
  margin:3px;
  padding:30px;
  border-radius: 90px;
}
.move-button:hover{
  cursor: pointer;
}
.move-icon{
  height:50px;
}
.reset-button{
  padding:10px;
  border: none;
}
.reset-button:hover{
  cursor: pointer;
}
.score{
  margin-top:60px
}
.result{
  margin-top:40px;
  font-size: 25px;
  font-weight: bold;
}